<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Kafka Management UI</title>
    <link rel='stylesheet'
          id='beco-style-css'
          href='/css/styles.css?ver=4.1'
          type='text/css'
          media='all' />
</head>
<body>
    <h1>Kafka Topic Information</h1>
    <br/>
    <h2>Topic: <label th:text="${topicName}"></label></h2>
    <div>
        <ul>
            <li>Name: <label th:text="${topicInfo.name()}"></label></li>
            <li>Is Internal? <label th:text="${topicInfo.isInternal()}"></label></li>
            <li>
                Partition Information:
                <br/>
                Partition Count <label th:text="${topicInfo.partitions().size()}"></label>
                <br/>
                <table>
                    <tr>
                        <th>Partition Id</th>
                        <th>Leader</th>
                        <th>Number of Replicas</th>
                        <th>Number of In-Sync Replicas (ISRs)</th>
                        <th>ISR Info</th>
                        <th>Replica Info</th>
                    </tr>
                    <tr th:each="part : ${topicInfo.partitions()}">
                        <td th:text="${part.partition()}">0</td>
                        <td th:text="${part.leader()}"></td>
                        <td th:text="${part.replicas().size()}"></td>
                        <td th:text="${part.isr().size()}"></td>
                        <td> <!-- ISR Information -->
                            Node Info
                            <br/>
                            <table>
                                <tr>
                                    <th>Host</th>
                                    <th>id</th>
                                    <th>port</th>
                                    <th>rack</th>
                                </tr>
                                <tr th:each="node : ${part.isr()}">
                                    <td th:text="${node.host()}">localhost</td>
                                    <td th:text="${node.id()}">id</td>
                                    <td th:text="${node.port()}">port</td>
                                    <td th:text="${node.rack()}">rack</td>
                                </tr>
                            </table>
                        </td>
                        <td> <!-- Replica Information -->
                            Node Info
                            <br/>
                            <table>
                                <tr>
                                    <th>Host</th>
                                    <th>id</th>
                                    <th>port</th>
                                    <th>rack</th>
                                </tr>
                                <tr th:each="node : ${part.replicas()}">
                                    <td th:text="${node.host()}">localhost</td>
                                    <td th:text="${node.id()}">id</td>
                                    <td th:text="${node.port()}">port</td>
                                    <td th:text="${node.rack()}">rack</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </li>
        </ul>
    </div>
    <div>
        <label>Partition to Node Matrix</label>
        <!-- This section contains a matrix of partitions to nodes -->
        <form th:action="@{/topic/{topicName}/rebalance(topicName=${topicName})}" method="post">
            <!-- XSRF token needed here. -->
            <input type="hidden"
                   name="_csrf"
                   value="CSRFTOKEN"
                   th:value="${_csrf == null ? null : _csrf.getToken()}" />
            <input type="hidden"
                   name="assignmentPlan"
                   th:value="${assignmentPlan == null ? '' : assignmentPlan}"/>
            <table>
                <tr>
                    <th>Partition/Broker</th>
                    <th th:each="broker : ${nodes}" th:text="${broker.host()} + '-' + ${broker.id()}"></th>
                </tr>
                <tr th:each="part : ${topicInfo.partitions()}">
                    <td th:text="${part.partition()}">partition id</td>
                    <td th:each="broker : ${nodes}">
                        <input type="checkbox"
                               th:name="'partitionAssignment-' + ${part.partition()} + ',' + ${broker.id()}"
                               th:value="${part.partition()} + ',' + ${broker.id()}"
                               th:if="${partitionsToSetOfNodeIds[ part.partition() ].contains( broker.id() )}"
                               checked="checked"/>
                        <input type="checkbox"
                               th:name="'partitionAssignment-' + ${part.partition()} + ',' + ${broker.id()}"
                               th:value="${part.partition()} + ',' + ${broker.id()}"
                               th:unless="${partitionsToSetOfNodeIds[ part.partition() ].contains( broker.id() )}"/>
                    </td>
                </tr>
            </table>
            <br/>
            <select name="operation">
                <option value="Verify" selected="selected">Verify Assignments</option>
                <option value="Execute">Execute Assignments</option>
            </select>
            <br/>
            <label>Throttle Re-sync to specified KiBps:</label>
            <input type="number" name="throttle" min="0"/>
            <br/>
            <input type="submit" value="Submit"/>
            <input type="reset"/>
        </form>
    </div>
    <div>
        Plan JSON:<br/>
        <textarea rows="40" cols="80" th:text="${assignmentPlanJson}">
        </textarea>
    </div>
</body>
</html>